<h1>Calculadora</h1>
<div class="calculator-display">
  <input type="text" id="display">
  <button type="button" id="equals-button">=</button>
</div>
<div  id="keyboard">
    <table >
      <tr>
        <td> <button type="button" name="button" class= "keyboard-button">1</button></td>
        <td> <button type="button" name="button" class= "keyboard-button">2</button></td>
        <td> <button type="button" name="button" class= "keyboard-button">3</button></td>
      </tr>
      <tr>
        <td> <button type="button" name="button" class= "keyboard-button">4</button></td>
        <td> <button type="button" name="button" class= "keyboard-button">5</button></td>
        <td> <button type="button" name="button" class= "keyboard-button">6</button></td>
      </tr>
      <tr>
        <td> <button type="button" name="button" class= "keyboard-button">7</button></td>
        <td> <button type="button" name="button" class= "keyboard-button">8</button></td>
        <td> <button type="button" name="button" class= "keyboard-button">9</button></td>
      </tr>
      <tr>
       <button type="button" name="button" class= "keyboard-button">0</button>
      </tr>

    </table>
</div>
