<h1>Calculadora</h1>
<div class="calculator-display">
  <input type="text" id="display" [(ngModel)] ="displayText">
  <button type="button" id="equals-button" class= "keyboard-button" (click)="calculate();">=</button>
</div>

<div id="operations-container">
  <table class="keyboard">
    <tr>
      <td class="keyboard-column" > <button type="button" class= "keyboard-button" (click)="keyPressed(' + ');">+</button></td>
      <td class="keyboard-column"> <button type="button" class= "keyboard-button" (click)="keyPressed(' - ');">-</button></td>
      <td class="keyboard-column"> <button type="button"  class= "keyboard-button" (click)="keyPressed(' * ');">*</button></td>
      <td class="keyboard-column"> <button type="button"  class= "keyboard-button" (click)="keyPressed(' / ');">/</button></td>
    </tr>
  </table>

</div>

<div  id="keyboard-container">
    <table class="keyboard">
      <tr>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button" (click)="keyPressed('1');">1</button></td>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button" (click)="keyPressed('2');">2</button></td>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button"(click)="keyPressed('3');">3</button></td>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button"(click)="keyPressed('(');">(</button></td>
      </tr>
      <tr>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button" (click)="keyPressed('4');">4</button></td>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button" (click)="keyPressed('5');">5</button></td>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button" (click)="keyPressed('6');">6</button></td>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button"(click)="keyPressed(')');">)</button></td>
      </tr>
      <tr>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button" (click)="keyPressed('7');">7</button></td>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button" (click)="keyPressed('8');">8</button></td>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button" (click)="keyPressed('9');">9</button></td>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button"(click)="del();">DEL</button></td>
      </tr>
      <tr>
        <td colspan="3"><button type="button" name="button" class= "keyboard-button" (click)="keyPressed('0');">0</button></td>
        <td class="keyboard-column"> <button type="button" class= "keyboard-button"(click)="ac();">AC</button></td>
      </tr>

    </table>
</div>
