
<div class="example-container">

    <mat-form-field appearance="fill">
      <mat-label>Entrada</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Seleccione</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Text area</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

  </div> 


<h1>HOLAAAA</h1>