<div class="page-content">
    <div class="row pt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>REGISTRAR USUARIO</h4>
                </div>
                <form [formGroup]="inputForm" (ngSubmit)="registerAnUserFromForm(inputForm.value)" class="card-body">
                    <label>Ingrese el nombre:</label>
                    <div class="form-group">
                        <input formControlName="nameInputForm" type="text" class="form-control">
                    </div>
                    <label>Ingrese el apellido:</label>
                    <div class="form-group">
                        <input formControlName="lastNameInputForm" type="text" class="form-control">
                    </div>
                    <label>Ingrese el número celular:</label>
                    <div class="form-group">
                        <input formControlName="cellphoneInputForm" type="text" class="form-control">
                    </div><label>Ingrese el correo:</label>
                    <div class="form-group">
                        <input formControlName="emailInputForm" type="text" class="form-control">
                    </div><label>Ingrese el carnet:</label>
                    <div class="form-group">
                        <input formControlName="carnetInputForm" type="text" class="form-control">
                    </div>
                    <button class="main-btn btn-small" type="submit">REGISTRAR</button>
                </form>
            </div>
        </div>
        <div class="col-md-6" id="lista">
            <div class="card text-center mb-4" *ngFor="let item of students">
                <div class="card-body">
                    <strong class="col-md-2">Nombre: </strong> {{item.nombre}}
                    <strong class="col-md-4">apellido: </strong> {{item.apellido}}
                    <strong class="col-md-6">telefono: </strong> {{item.telefono}}
                    <strong class="col-md-8">email: </strong> {{item.email}}
                    <strong class="col-md-10">carnet: </strong> {{item.carnet}}
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>