<div class="valesClass">
    <h1 class="title">Esta es mi sección de práctica</h1>
    <p>Ingrese su nombre:</p>
    <input type = "text" [(ngModel)]="inputText"> 
    <p>Bienvenid@ {{inputText}}</p>
    <p> </p>
    <button class="buttons" *ngIf = "isCollapsed" (click)="buttonCollapse()">Ver botones</button>
    <button class="buttons" *ngIf = "!isCollapsed" (click)="buttonCollapse()">Ocultar botones</button>
    <div *ngIf = "!isCollapsed">
        <h1 class="subT">Primera practica: Animaciones</h1>
        <button class="buttons"> Hi </button>
    </div>
</div>