.valesClass{
    border: 1px;
    padding: 20px;
}

.practice1{
    border: 0.5px;
    padding: 20px;
}

.title{
    font-family: "Verdana", cursive;
    color: plum;
    font-size: 30px;
    background-color: rgb(236, 221, 234);
    border-style: outset;
}

.subT{
    border-left: 15px;
    font-family: "Verdana", cursive;
    color: pink;
    font-size: 20px;
}

.buttons {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; /*importante para acomodo*/
    cursor: pointer;
    background-color: rgb(228, 163, 203);
  }

