<div class="page-content">
    <h1>
        Componente principal.
    </h1>
    <p>
        Este es el componente principal. También hay un componente que se muestra cuando se pone una URL desconocida.
    </p>
    <p>
        Por ejemplo: prueba a poner en la URL <a href="/papasFritas">localhost:4200/papasFritas</a>
    </p>
    <p>
        Mi idea es que hagamos varios ejercicios que nos hagan poner en práctica la lógica de programación del lenguaje
        al mismo tiempo que vamos experimentando con forms, botones, listas plegables, etc... Estas de aquí son algunas
        ideas de ejercicios que cada uno podría implementar.
    </p>
    <ul>
        <li>Detectar si una palabra es palindroma o no (hay un ejemplo).</li>
        <li>Detectar palindromos, pero activar la función con un botón.</li>
        <li>Hacer un form para "registrar" a una persona, se le puede preguntar el nombre los apellidos y no sé qué más. Al darle al botón que le hace "submit" al form aparece un saludo personalizado que incluya algunos de los datos que insertó. Suena simple, pero angular tiene su propia forma de hacer forms.</li>
        <li>Hacer un boton con una pequeña animación de css usando el css del componente (no de la aplicación), como ejemplo tienen el botón que abre el menú y el menú en sí.</li>
        <li>Si se mantiene presionado el botón se muestra un pequeño ícono svg (como los del panel lateral), y si se suelta el boton el svg desaparece</li>
        <li>Hacer una lista plegable con numeros del 1 al... 26?... Sí 26 xq no? Al presionar un botón es muestran ese número de &lsaquo;li&rsaquo; usando *ngFor (hay un ejemplo)</li>
        <li>Hacer la calculadora de la que tanto hemos hablado xD </li>
    </ul>
    <hr/>
    <h2>
        Bueno sí... son muchos ejercicios. 
    </h2>
    <p>
        Pero la idea no es que los hagan todos. Hagan de los que quieran aprender. 
        Si quieren aprender a hacer forms hagan forms, si quieren hacer animaciones háganlas. Lo más importante al final
        es que aprendan a travesear y a sentirse cómodos con el framework. 
    </p>
    <p>
        También, <b>sean creativos :D</b>. Jueguen con los estilos, cambien la imagen de fondo de su componente, hagan chistes internos
        dentro del código, experimenten tanto como quieran con las animaciones. Después de todo este "proyecto" no está hecho para ser 
        formal que digamos.
    </p>
    <h2 class="text-alert">
        Pero ojo, no se metan mucho con el código de los demás
    </h2>
    <p>
        Está de más decirlo, siento yo. Pero como todos tenemos acceso al mismo código hay que tener cuidado. Si trabajan fuera de su componente,
        asegúrense de que la aplicación siga funcionando normalmente.</p>
    <p> Si quieren pueden añadir enlaces a sus componentes en el menú lateral y meter un svg que les guste. Si hacen eso aconsejaría quitar las 
        propiedades height y width del svg. Ya eso está en el css global y hará que todos los svg ahí tengan el mismo tamaño.
    </p>
    <h2>Bueno shicos. Los dejo, buena suerte bye :D</h2>
    
    <a href="example"><button class="main-btn">Ir al componente de ejemplos</button></a>
</div>