<div class="page-content">
    <h1>
        Componente principal.
    </h1>
    <p>
        Este es el componente principal. También hay un componente que se muestra cuando se pone una URL desconocida.
    </p>
    <p>
        Por ejemplo: prueba a poner en la URL <a href="/papasFritas">localhost:4200/papasFritas</a>
    </p>
    <br/>
    <p>Por cierto: Aquí hice un pequeño ejercicio para ver si un string es palíndromo o no.</p>
    <input type="text" [value]="inputValue" (input)="onInput($event.target.value)"/> {{resultado}}
</div>