<div class="side-menu" [@openCloseSideMenu]="sideMenuOpen ? 'open' : 'closed'" (mouseleave)="closeSideMenu()"></div>
<div class="toolbar" role="banner">
  <a (click)="openSideMenu()">
    <svg class="btn-sandwitch" width="30" height="23" viewBox="0 0 59 45" xmlns="http://www.w3.org/2000/svg">
      <rect width="59" height="11" />
      <rect y="34" width="59" height="11" />
      <rect y="16" width="59" height="13" />
    </svg>
  </a>
  <div class="main_title">
    Nuestro lugar de practica
  </div>
  <div></div>
</div>
<router-outlet></router-outlet>